@page
@model QLTV_TKPM.Pages.Docgias.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Docgia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docgia.Hoten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docgia.Hoten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docgia.Diachi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docgia.Diachi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docgia.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docgia.Email)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docgia.LoaiDocGia)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Loaidocgia != null)
            {
                @Model.Loaidocgia.TenLoaidocgia;
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docgia.Ngaysinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docgia.Ngaysinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docgia.Ngaylapthe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docgia.Ngaylapthe)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Docgia.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
