@page
@model QLTV_TKPM.Pages.Docgias.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Docgia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docgia.Hoten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docgia.Hoten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docgia.Diachi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docgia.Diachi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docgia.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docgia.Email)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docgia.LoaiDocGia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docgia.LoaiDocGia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docgia.Ngaysinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docgia.Ngaysinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docgia.Ngaylapthe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docgia.Ngaylapthe)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Docgia?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
