@page
@model QLTV_TKPM.Pages.Theloaisachs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Thể loại sách</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Theloaisach[0].Tentheloaisach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Theloaisach) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tentheloaisach)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
